/*--Common Rules--*/

body {
    background-color: lightgray;
    margin: auto;
    margin-top: 2px;
}

/*--Header--*/
#logo {
    height: 20%;
    vertical-align: middle;
}

header {
    background-color: white;
    padding-left: 2%;
}

#logotext {
    display: inline-block;
    height: 10%;
    vertical-align: middle;
}
