/*--Common Rules--*/

body {
    background-color: lightgray;
    margin: auto;
    margin-top: 3px;
}

/*--Header--*/
#logo {
    height: 20%;
    vertical-align: middle;
}

header {
    background-color: white;
    padding-left: 2%;
   }

#logotext {
    display: inline-block;
    height: 10%;
    vertical-align: middle;
}

/*--Nav--*/

#navigator {
    box-sizing: border-box;
    width: 80%;
    margin: 4% 10% 1% 10%;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#botton-add-task {
    margin: 30px 1px 15px 60px;
    color: white;
    background-color: rgb(0, 153, 255);
    border:rgb(0, 153, 255) 2px solid;
    border-radius: 4px;
    height: 20px; 
    width: 10%;
    text-align: center;
    padding: 10px 5px;
}

#botton-add-section {
    margin: 30px 15px 10px 1px;
    color:gray;
    background-color: white;
    border: 2px solid gray;
    border-radius: 4px;
    height: 20px; 
    width: 10%;
    text-align: center;
    padding: 10px 5px;
}

/*--Main--*/
