/*--Common Rules--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Oswald', sans-serif;
    }

body {
    background-color: lightgray;
    margin: auto;
    margin-top: 3px;
}

/*--Header--*/
#logo {
    height: 20%;
    vertical-align: middle;
}

header {
    background-color: white;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
   }

#logotext {
    display: inline-block;
    height: 10%;
    vertical-align: middle;
}

/*--Nav--*/

#navigator {

    width: 80%;
    margin: 4% 10% 0% 10%;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#botton-add-task {
    margin: 30px 1px 15px 60px;
    color: white;
    background-color: rgb(0, 153, 255);
    border:rgb(0, 153, 255) 2px solid;
    border-radius: 4px;
    height: 40px; 
    width: 10%;
    text-align: center;
    padding: 10px 5px;
}

#botton-add-section {
    margin: 30px 15px 10px 1px;
    color:lightgray;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
    height: 40px; 
    width: 10%;
    text-align: center;
    padding: 10px 5px;
}

/*--Main--*/

main {
    
    width: 80%;
    margin: 2px 10% 1% 10%;
    background-color: white;
}

/*--Sezione New Task--*/

.editorial {
    margin: auto;
    color: white;
    background-color: rgb(0, 153, 255);
    border:rgb(0, 153, 255) 2px solid;
    border-radius: 14px;
    height: 30px; 
    width: 10%;
    text-align: center;
    
}

/*--Sezione Today--*/

.goals{
        margin: auto;
        color: white;
        background-color: purple;
        border:purple 2px solid;
        border-radius: 14px;
        height: 30px; 
        width: 10%;
        text-align: center;
        
    }
.recruiting{
        margin: auto;
        color: white;
        background-color: rgb(57, 114, 92);
        border:rgb(57, 114, 92) 2px solid;
        border-radius: 14px;
        height: 30px; 
        width: 10%;
        text-align: center;
        
    }

    .mobile{
        margin: auto;
        color: white;
        background-color:rgb(231, 156, 16);
        border:rgb(231, 156, 16) 2px solid;
        border-radius: 14px;
        height: 30px; 
        width: 10%;
        text-align: center;
    }

    /*--Sezione Upcoming--*/

    .website {
        margin: auto;
        color: white;
        background-color:rgb(233, 95, 210);
        border:rgb(233, 95, 210) 2px solid;
        border-radius: 14px;
        height: 30px; 
        width: 10%;
        text-align: center;
    }

    .sales {
        margin: auto;
        color: white;
        background-color:rgb(1, 247, 34);
        border:rgb(1, 247, 34) 2px solid;
        border-radius: 14px;
        height: 30px; 
        width: 10%;
        text-align: center;
    }
